.persons-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.information-wrapper {
  width: 70%;
}
.button-wrapper {
  width: 30%;
}

.person-container {
  border: 2px solid black;
  padding: 1rem;
  margin: 1rem;
  min-width: 18rem;
  display: flex;
  align-items: center;
}
