.persons-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  padding: 0 10rem;
  margin-bottom: 8rem;
}

.edit-person-container {
  margin: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.person-container {
  border: 2px solid #681cff;
  padding: 1rem;
  margin: 1rem;
  min-width: 18rem;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.information-wrapper {
  text-align: center;
}

.first-name,
.age,
.cars-owned {
  color: black;
}

.edit-person-form {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 3rem;
  gap: 1rem;
  justify-content: center;
}

.find-person-form {
  max-height: 10rem;
}

.form-input-container {
  display: flex;
  gap: 1rem;
}

@media screen and (max-width: 1600px) {
  .persons-container {
    grid-template-columns: repeat(3, 2fr);
  }
}

@media screen and (max-width: 1300px) {
  .persons-container {
    grid-template-columns: repeat(2, 2fr);
  }
}

@media screen and (max-width: 950px) {
  .persons-container {
    grid-template-columns: repeat(1, 2fr);
    padding: 0;
  }
}
