/* #root, html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dac8ff;

    Man kan ikke lage styling for 
    speisfikke ting som gjelder for alt på siden.

    Prøv å hold css lokalt.
} */

/*
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50rem;
  height: 80%;
  color: #fff;
  border-radius: 10px;
}
*/
